.arrow {
    color: $nice-white;
    padding-top: 12%;
    .btn {
        span {
            font-family: $font;
        }
        letter-spacing: 0.2rem;
        font-size: 15px;
        border: none;
        border-radius:6px;
        &:hover,
        &:focus {
            background-color: darken(#bffaa4, 5%);
        }
        &:active {
            top: 2px;
        }
    }
}