.SlideSix {
    display: none;
    @import 'RowOne';
    .RowTwo {
        padding-top: 50px;
        h1,
        h2,
        p {
            color: $nice-white;
            font-family: $font;
        }
    }
    .RowThree {
        h1,
        h2,
        p {
            color: $nice-white;
            font-family: $font;
        }
    }
    .arrow {
        padding-top: 5%;
    }
}